html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Poppins;
  background-color: #1d003c;
}

#top {
  width: 100%;
  height: 45px;
  background-color: #250053;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
}

#logo-title {
  margin-top: 0;
  margin-left: 1vw;
  color: #dab9ff;
  cursor: pointer;
  display: inline;
  font-size:1.9em
}

#search {
  float: right;
  margin-right: 1vw;
  transform: translateY(25%);
  background-color: rgba(0, 0, 0, 0);
  color: #dab9ff;
  border: #dab9ff solid 1px;
  border-radius: 2px;
  height: 2em;
  width: 30vw;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#games {
  width: 100%;
  height: 100%;
  margin-top: 55px;
}

.game {
  border: 2px solid #dab9ff;
  border-radius: 10px;
  width: 25vw;
  height:15vw;
  display: inline-block;
  text-align: center;
  margin-left: 6.25vw;
  margin-bottom: 6.25vw;
  line-height: 15vw;
  cursor: pointer;
  text-decoration: none;
}

.game h2 {
  color: #dab9ff;
  font-size: 2vw;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-transform: uppercase;
  font-weight: bolder
}

#footer {
  text-align: center;
  margin-bottom: 3.125vw;
}

#footer a {
  color: #dab9ff;
  font-size: 1vw;
}