body {
    background-color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 53px;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    margin: 30px;
}

a {
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-decoration: none;
    padding: 3px 3px 3px 3px;
    user-select: none;
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

div {
    text-align: center; 
    color: black;
    padding: 10px 10px 10px 10px;
    border: 4px solid var(--highlight-color);
    background-color: var(--highlight-color);
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
}

div + div {
    margin-top: 10px;
}

div:hover {
    color: var(--highlight-color);
    background-color: black;
}

:root {
    --highlight-color: hsl(0 100% 50%);
}

p {
    margin: 0;
    display: block;
}