:root {
  --accent: rgb(116 200 172);
  --accent2: rgb(127, 255, 212);
  --background: rgba(35, 35, 35, 0.502);
  --hpammo: rgb(38, 255, 154);
}

@font-face {
  font-family: gamefont;
  src: url(./fonts/BF_Modernista-Regular.ttf)
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.3) }
  100% { transform: scale(1) }
}

#newsHolder, #mainLogo, #seasonLabel, #onetrust-consent-sdk, #mapInfo {
    display: none !important;
}

.buttonO, .button {
    border: unset !important;
}

.buttonO:hover, .button:hover {
    border: unset !important;
}

#uiBase.onMenu {
  backdrop-filter: grayscale(100%);
}

#uiBase.onMenu #chatList {
  background-color: transparent;
  text-align: left;
  margin-bottom: 0px;
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  background: linear-gradient(-90deg, transparent 0%, transparent 10%, var(--background) 100%);
  border-radius: 0px;
  padding-bottom: 10px;
}

#uiBase.onMenu #chatHolder {
  left: 30px;
  bottom: 30px !important;
}

#uiBase.onMenu #chatInputHolder {
  background-color:transparent;
  border:none;
  border-radius:0px;
  height:50px;
  padding:unset;
  line-height: 50px;
  padding: unset;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(90deg, var(--background) 0%, transparent 100%) !important; 
  border-left: 5px solid var(--accent2);
  box-shadow: unset !important;
}

#uiBase.onMenu #chatInput {
  visibility: visible !important;
  border:none;
  padding:0px;
  text-align: left;
  font-size:18px;
  color: var(--accent2);
  width: auto;
  margin: unset;
  background-color: transparent;
  margin-right: 100px;
}

#uiBase.onMenu #chatInput::placeholder {
  color: var(--accent2);
  text-transform: uppercase;
}

#uiBase.onMenu .chatItem {
  background-color:transparent!important;
  background:transparent;
  padding:10px;
  margin:2px;
  line-height:1;
  font-size: 17px;
}

#menuItemContainer {
  flex-direction: row;
  height: 200px;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  width: 1000px;
  height: 80px;
  padding: 0px !important;
  background-color: var(--background) !important;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;

  background-repeat: no-repeat;
  background-size: 10px 10px;
  box-shadow: unset !important;
}

#menuItemContainer > div > span {
  display: none;
}

.menuItem {
  height: 80px;
  width: auto;
  background-color: transparent !important;
}

#menuBtnProfile { 
  font-size: 0px !important;
  letter-spacing: 0px !important;
}

#menuBtnProfile:before {    
  content: "Profile";
  font-size: 20px !important;
  letter-spacing: 2px !important;
}

#menuBtnShop { 
    font-size: 0px !important;
    letter-spacing: 0px !important;
}

#menuBtnShop:before {    
    content: "Shop";
    letter-spacing: 2px !important;
    font-size: 20px !important;
}

.menuItem:hover {
  border: unset;
}

.menuItemIcon {
  display: none;
}

.menuItemTitle {
    margin: unset !important;
    font-size: 20px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--accent2) !important;
    transition: .10s ease-in-out;
}

.menuItem:hover {
    transform: scale(1.2);
}

.menuItem:active {
    transform: scale(.9);
}

.imageButton {
  display: none !important;
}

#editorBtnM {
  display: none !important;    
}

.verticalSeparator {
  display: none;
}

.headerBar {
  background-color: transparent !important;
  box-shadow: unset !important;
}

#signedOutHeaderBar {
  width: 100%;
  height: 100%;
  flex-direction: unset;
  align-items: flex-end;
  pointer-events: none;
  cursor: unset;
}

#signedOutHeaderBar > div {
  box-shadow: none !important;
  background-color: transparent !important;
  top: unset;
  bottom: 30px;
  left: calc(50% - 500px);
  height: 63px;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  font-size: 0px !important;
  padding-bottom: unset !important;
  width: 70px !important;
  line-height: 63px;
  border: unset !important;
}

#signedOutHeaderBar > div:hover > span {
    transform: scale(1.2);
}

#signedOutHeaderBar > div:active > span {
    transform: scale(.9);
}

#signedOutHeaderBar > div > span {
  color: var(--accent2) !important;
  font-size: 40px !important;   
  transition: .15s ease-in-out;
}

#signedInHeaderBar {
  left: calc(50% - 510px);
  bottom: 40px;
  top: unset;
  height: 60px;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

#signedInHeaderBar > div:nth-child(1) {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.progressBar {
  display: none !important;
}

#mLevelCont {
  display: none;
}

#menuUsernameContainer {
  display: none;
}

.krSocial {
  display: none;
}

.menuSocialB {
    display: none;
}

.krInfo, .junkInfo {
  margin: unset;
}

.krInfo {
  position: fixed;
  left: calc(50% + 100px);
  bottom: 120px;
  height: 55px;
  line-height: 55px;
  width: 380px;
  background-image: linear-gradient(-90deg, var(--background) 0%, transparent 100%) !important; 
  text-align: right;
  padding-right: 15px;
  border-right: 5px solid var(--accent2);
}

#menuJNKCount {
  color: var(--accent2) !important;
  font-size: 24px;
  margin-bottom: 5px;
}

#menuJNKCount > span{
  color: var(--accent2) !important;
  font-size: 24px !important;
  margin-top: 4px;
}

#subLogoButtons {
  width: 1050px;
  height: 80px;
  padding: unset;
  display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: 30px !important;
  background-color: var(--background) !important;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

#braveWarning {
  display: none;
}

#subLogoButtons > div {
  box-shadow: none !important;
  border: unset !important;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
  color: var(--accent2) !important;
  padding: 10px !important;
  height: 60px;
  background-color: transparent !important;
  line-height: 60px;
}

#subLogoButtons > div:hover {
    transform: scale(1.2);
}

#subLogoButtons > div:active {
    transform: scale(.9);
}

#faceItIconM {
  display: none;
}

#mailContainer {
  margin-left: 20px;
  margin-right: 15px;
}

#mailCount {
  color: var(--accent2);
}

#menuKRCount {
  font-size: 24px;
  color: var(--accent2) !important;
}

#menuKRCount > span {
  color: var(--accent2) !important;   
}

#mailIcon {
  color: var(--accent2) !important;     
  font-size: 40px !important;   
}

#classPreviewCanvas {
  visibility: visible;
  opacity: .7;
  bottom: 110px;
  position: fixed;
  transform: scaleX(-1);
  transition: opacity .20s ease-in-out;
}

#bubbleContainer {
  display: none;
}

#menuClassContainer {
  right: unset;
  left: calc(50% - 500px);
  width: 1000px;
  bottom: 0px;
  top: unset;
  height: 1000px;
  visibility: hidden;
  background-color: red !important;
}

#policeButton {
  bottom: -90px !important;
  position: fixed;
  visibility: visible;
  background-color: transparent !important;
  box-shadow: none !important;
  left: 1040px;
  line-height: 90px;
  border-radius: 0px;
  height: 90px !important;
  border: unset !important;
  transition: .10s ease-in-out;
}

#policeButton.button.buttonB:hover {
    transform: scale(1.2) !important;
}

#policeButton.button.buttonB:active {
    transform: scale(.9) !important;
}

#policeButton:before {
  content: "local_police";
  font-family: "Material Icons";
  font-size: 45px;
  color: var(--accent2);
}

#policeButton > img {
  display: none;
}

#menuClassSubtext {
  display: none;
}

#menuClassName {
  display: none;
}

#customizeButton {
  visibility: visible;
  background-color: transparent !important;
  text-shadow: unset !important;
  font-size: 0px !important;
  width: auto !important;
  position: fixed;
  bottom: -76px;
  left: calc(50% + 370px);
  transform: unset !important;
  border: unset !important;
}

#customizeButton > span {
  font-size: 0px !important;   
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  transition: .10s ease-in-out;
}

#customizeButton:hover > span {
  transform: scale(1.2);
}

#customizeButton:active > span {
  transform: scale(.9);
}

#customizeButton > span:before {
  content: "auto_fix_high";
  font-family: "Material Icons" !important;
  font-size: 50px;
  font-family: "gamefont";
  color: var(--accent2);
}

#uiBase.onMenu #spectButton {
  width: 45px;
  bottom: unset;
  right: calc(50% - 500px);
  left: unset;
  z-index: 1;
  bottom: 48px;
  top: unset;
  border: unset !important;
}

#menuFPS, #menuPingDisplay .material-icons {
  color: var(--accent1) !important;
}

#menuPingDisplay .material-icons {
  display: none;
}

#spectButton span[style="font-size:15px;color:rgba(255,255,255,0.6)"] {
  color: transparent !important;
}

#spectButton .switchsml {
  margin: 0;
  position: absolute;
  width: 100%;
}

.sliderSml::before {
  content: "visibility_off";
  font-size: 40px;
  color: var(--accent2);
  width: max-content;
  height: auto;
  background-color: transparent;
  text-align: center;
  transition-duration: 0.25s;
  font-family: 'Material Icons';
}

input:checked+.sliderSml::before {
  content: "visibility";
  transform: unset;
}

input:checked+.sliderSml {
  background-color: transparent !important;
}

.sliderSml {
  opacity: 1;
  background-color: transparent;
}

#accManagerBtn {
  bottom: 0px !important;
  position: fixed;
  visibility: visible !important;
  display: block !important;
  background-color: transparent !important;
  box-shadow: none !important;
  left: 0px;
  transform: translate(1140px, 220px) rotate(2.2deg);
  font-size: 0px !important;
  text-shadow: unset !important;
  pointer-events: none !important;
  cursor: unset !important;
  border: unset !important;
}

#accManagerBtn:before {
  content: "groups";
  font-family: "Material Icons";
  font-size: 50px !important;
  color: var(--accent2);
  pointer-events: all !important;
  cursor: pointer !important;
}

#uiBase.onSpect .topRightCounters {
  display: none;
}

#weapDisplay {
  right: 235px;
  bottom: 65px;
  top: unset;
  z-index: 10;
  background-color: transparent;
}

.weapItem {
  margin: 10px;
  width: 100px;
  padding-right: 60px;
  height: 45px;
  overflow: hidden;
  position:absolute;
  bottom:0;
  right:0;
  background: linear-gradient(90deg, rgba(35, 35, 35, .1) 0%, transparent 100%);
}

.weapItem:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

.weapIcon[style*="opacity: 1"] {
  opacity: 1 !important;
  padding: 0px !important;
}

.weapKey {
  display: none;
}

.weapIcon {
  filter: brightness(0) invert(1);
  transition-duration: 0.25s;
  height: 45px;
  width: 80px;
  opacity: 0 !important;
  padding-left: 300px;
  z-index: 11;
}

#weapIconMel {
  margin: 0 !important;
  transform: translateY(25%);
}

#bottomLeftHolder {
  position: absolute;
  width: 400px;
  height: 100px;
  background: linear-gradient(180deg, transparent 0%, var(--background) 100%);
}

#bottomLeftHolder::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#hudClassIcon {
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar {
  display:none;
}

#roundsDisplay {
  margin-top: 20px;
}

#uiBase.onCompMenu #chatHolder {
   bottom: 150px !important;
}

#uiBase.onGame #chatHolder {
  width: 400px;
  border-radius: 0px;
}

#uiBase.onGame #chatList {
  border-radius: 0px;
  background-color: transparent;
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  background: linear-gradient(-90deg, transparent 0%, transparent 10%, var(--background) 100%);
}

#uiBase.onGame .chatItem {
  background-color: transparent !important;
  font-size: 17px;
  padding:10px;
  margin:2px;
  line-height:1;
}

#chatSwitch {
  display: none;
}

.chatMsg[style="color:#fc03ec"] {
  color:var(--accent2) !important;
}

.chatMsg span[style*="#fff"] {
  color:var(--accent2) !important;
}

.chatMsg span[style*="#9eeb56"] {
  color:var(--accent2) !important;
}

.chatMsg span[style*="#eb5656"] {
  color: var(--accent) !important;
}

#uiBase.onGame #chatInputHolder {
  border: unset;
  border-radius: 0px;
  height: 42px;
  line-height: 42px;
  background-color: transparent;
  padding: unset !important;
  box-shadow: unset !important;
  background: linear-gradient(-90deg, transparent 0%, transparent 10%, var(--background) 100%);
}

#uiBase.onGame #chatInput {
  border: unset;
  background-color: transparent;
  transform: translateX(-50px);
  color: var(--accent2);
  font-size: 18px;
}

#uiBase.onGame #chatInput::placeholder {
  color: var(--accent2);
  text-transform: uppercase;
}

#uiBase.onGame #chatInputHolder:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
  height: 42px;
}

#healthBar {
  height: 20px !important;
  background-color: var(--background);
  width: 350px;
  display: flex;
  padding: unset;
  position: fixed;
  left: 45px;
  bottom: 50px;
  margin-bottom: unset !important;
  box-shadow: unset !important;
  border: unset !important;
  border-radius: 0px !important;
}

.healthBarSeg {
  margin-right: -2px;
  border-radius: 0px !important;
  width: -webkit-fill-available;
  background-color: transparent !important;
  border: unset !important;
}

.hpBSeg {
  border-radius: 0px;
  box-shadow: none !important;
  background-color: var(--hpammo) !important;
}

.healthBarSeg:last-child .hpBSeg[style*="width:100%"] {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.healthBarSeg:first-child .hpBSeg {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


#voiceDisplay {
  display: none;
}

#healthValueHolder {
  background-color: transparent !important;
  border: unset !important;
  box-shadow: unset !important; 
}

#maxHP {
  display: none;
}

#healthValue {
  font-size: 50px;
  position: fixed;
  left: 50px;
  bottom: 70px;
  letter-spacing: 2px;
  color: var(--accent2);
}

#challIcon {
  display: none;
}

#bottomRight {
  position: absolute;
  width: 400px;
  height: 100px;
  background: linear-gradient(180deg, transparent 0%, var(--background) 100%);
  bottom: 30px;
}

#bottomRight:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#ammoDisplay {
  position: fixed;
  display: flex;
  width: 350px;
  height: 20px;
  right: 70px;
  bottom: 50px;
  padding: unset;
  border-radius: 0px;
  background-image: linear-gradient(90deg, var(--hpammo) 0%, var(--hpammo) 100%) !important; 
  background-color: var(--background) !important;
  -moz-transform: translateZ(0) rotate(180deg);
  -ms-transform: translateZ(0) rotate(180deg);
  -o-transform: translateZ(0) rotate(180deg);
  transform: translateZ(0) rotate(180deg);
  border: unset !important;
  box-shadow: 0px !important;
}

#ammoDisplay[style*="background-size: 0%;"] {
  background-size: 100% !important;
}


#ammoIcon {
  display: none;
}

#ammoVal {
  position: fixed;
  top: 20px;
  left: 10px;
  font-size: 50px;
  letter-spacing: 2px;
  color: var(--accent2);
  transform: rotate(180deg);
}

#ammoMax {
  display: none;
}

#reloadMsg {
    bottom: calc(50% - 300px);
    border: none;
    color: var(--accent2);
    font-family: 'Material Icons';
    font-size: 0;
    animation: rotate 1s infinite ease-in-out;
    background-color: var(--background);
    width: 60px;
    left: calc(50% - 30px);
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: unset;
    border-radius: 100%;
}

#reloadMsg::before {
    content: "autorenew";
    font-size: 45px;
}

#curGameInfo {
  display: none;
}

#timerDisplay {
  width: 200px;
  text-align: center;
  border-radius: 0px;
  background: linear-gradient(0deg, transparent 0%, var(--background) 100%);
  background-color: transparent;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  top: 20px;
}

#timerVal {
  color: var(--accent2);
}

#timerDisplay::after {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
  linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}


#timerIcon {
  display: none;
}

#leaderDisplay {
  background: linear-gradient(0deg, transparent 0%, var(--background) 100%);
  border-radius: 0px;
  width: 360px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px !important;
  border: unset !important;
  background-color: unset !important;
  box-shadow: unset !important;
}

.leaderItem {
  background-color: transparent;
  margin-bottom: 5px;
  font-size: 19px !important;
}

.leaderItem::after {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
  linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}


#fpsDisplay {
  background-color: transparent;
  background: linear-gradient(-90deg, transparent 0%, transparent 10%, var(--background) 100%);
  padding-left: 20px;
  line-height: 40px;
  height: 40px;
  width: 200px;
}

#fpsDisplay:after {
  content: "";
  position: absolute;
  left: 0px;
  background-color: var(--accent2);
  width: 5px;
  height: 40px;
}

#ingameFPS {
  color: var(--accent2) !important;
}

#pingDisplay {
  background-color: transparent;
  background: linear-gradient(-90deg, transparent 0%, transparent 10%, var(--background) 100%);
  padding-left: 20px;
  line-height: 40px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pingText {
  color: var(--accent2);
}

#pingText::after {
  content: " PING";
  color: rgba(255, 255, 255, .5) !important;
}

#pingIcon {
  display: none;
}

#pingDisplay:after {
  content: "";
  position: absolute;
  left: 0px;
  background-color: var(--accent2);
  width: 5px;
  height: 40px;
}

.topRightCounters {
   position: fixed;
   display: flex;   
   width: auto !important;
   background: linear-gradient(180deg, transparent 0%, var(--background) 100%);
   bottom: 30px;
   top: unset;
   right: unset;
   left: 50%;
   height: 50px;
   transform: translateX(-50%);
   padding-top: 10px;
}

.topRightCounters:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.countIcon {
    background-color: transparent !important;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px !important;
    box-shadow: unset !important;
}

#killsVal,#deathsVal,#streakVal,#myScoreVal, #livesDisp, #kdVal {
    color: var(--accent2);
    font-size: 24px;
}

#killsIcon,#deathsIcon,#streakIcon,#kdIcon {
    display: none
}

.countIcon .material-icons {
    display: none;
}


#killsVal:after {
    content: ' K';
    display: inline;
    font-size: 24px;
    text-align: center;
}

#deathsVal:after {
    content: ' D';
    display: inline;
    font-size: 24px;
    text-align: center;
}
#streakVal:after {
    content: ' S';
    display: inline;
    font-size: 24px;
    text-align: center;
}

#myScoreVal:after {
    content: ' P';
    display: inline;
    font-size: 24px;
    text-align: center;
}

#kdVal:after {
    content: ' K/D';
    display: inline;
    font-size: 24px;
    text-align: center;
}

#livesDisp:after {
    content: ' L';
    display: inline;
    font-size: 24px;
    text-align: center;
}

.leaderName, .LeaderName, .LeaderNameF {
    color: var(--accent) !important;
}

.leaderNameM, .leaderNameF,.leaderScore, .leaderCounter {
    color: var(--accent2) !important;
}

#killStreakHolder {
    position:fixed;
    bottom: 30px;
    right:450px;
    margin-right:0;
    margin-bottom:0;
}

.killStreakItem {
    width:70px;
    height:70px;
    background-color:transparent;
    margin-left: unset;
}

.killStreakItem > span {
    vertical-align: unset;
    float: unset;
    padding-left: unset;
    margin-top: unset;
    color: #fff;
    font-size: 12px;
    text-shadow: unset;
    color: var(--accent2);
    line-height: 70px;
    text-align: center;
    background-color: var(--background);
    padding: 10px;
    border-radius: 100%;
}

.killStreakCnt {
    display: none;
}

.killStreakItem::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: linear-gradient(180deg, transparent 0%, transparent 10%, var(--background) 100%);
}

.killStreakItem:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#networkLag {
  text-align: left;
  border-radius: unset;
  padding-left: 20px;
  width: 200px;
  margin-top: 10px;
  background: linear-gradient(-90deg, transparent 0%, transparent 10%, var(--background) 100%);
}

#networkLag > div {
  color: var(--accent2)
}

#networkLag:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#voteToKick {
  text-align: left;
  border-radius: unset;
  padding-left: 20px;
  width: 200px;
  margin-top: 10px;
  background: linear-gradient(-90deg, transparent 0%, transparent 10%, var(--background) 100%);
}

#voteToKick > div {
  color: var(--accent2);
}

#voteToKick:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#networkLagHed, #voteKickKeys > span {
  color: var(--accent) !important;
}

#gameMessage[style*="display: none;"] {
  width: 0px;
  transition: .15s ease-in-out;
  opacity: 0;
}

#gameMessage[style*="display: block;"] {
  background-color: var(--background);
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: var(--accent2);
  opacity: 1;
  position: fixed;
}

#gameMessage[style*="display: block;"]:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#gameMessage[style*="display: block;"]:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#teamScores {
    visibility: hidden;
}

#tScoreV1 {
  visibility: visible;
  position: fixed;
  color: var(--accent2);
  top: 20px;
  width: auto;
  height: 40px;
  background-color: var(--background);
  text-align: center;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(calc(-50% - 160px));
  left: 50%;
}

#tScoreV1:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#tScoreV2 {
  visibility: visible;
  position: fixed;
  color: var(--accent2);
  top: 20px;
  width: auto;
  height: 40px;
  background-color: var(--background);
  text-align: center;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(calc(-50% + 160px));
  left: 50%;
}

#tScoreV2:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#roundsVal {
  color: var(--accent2);
  font-size: 18px;
}

#roundSub {
  color: rgba(255, 255, 255, .5);
  font-size: 18px;
  margin-left: 2px;
}

#policePopC {
  background-color: var(--background) !important;
  color: var(--accent2) !important;
}

#policePopC > div {
  color: var(--accent2) !important;
}

#policePopC:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#kpdCalls > div > a {
  color: var(--accent2) !important;
}

#policePopC [style="color:rgba(0,0,0,0.3);margin-right:12px"] {
  color: var(--accent2) !important;
}

#policePopC [style="margin-top:0px;color:rgba(0,0,0,0.6)"] {
  color: var(--accent2) !important;
}

#policePopC [style="width:97%;color:rgba(0,0,0,0.6);text-align:left;padding:10px;border-bottom: 2px solid rgba(0,0,0,0.2);"] {
  color: var(--accent) !important;
}

#policePopC [style="color:rgba(0,0,0,0.6);font-size:19px"] {
  color: var(--accent2) !important;
}

#policePopC > div.menuTabsNew > div {
  background-color: var(--background);
  color: var(--accent);
  border-color: var(--accent);
}

#policePopC > div.menuTabsNew > div.menuTabNew.tabANew {
  border-color: var(--accent2);
  color: var(--accent2);
}

.callRegion {
  color: var(--accent2);
}

.policeJoinB {
  color: var(--accent) !important;
  background-color: var(--background);
  border-radius: 0px;
}

.policeJoinB:hover {
  color: var(--accent2) !important;
  opacity: 1;
}

#uiBase.onSpect .topRightCounters {
  display: none !important;
}

.weaponChatIcon {
  filter:brightness(0) invert(1);
  height:20px;
  width:40px;
}

.headShotChatIcon {
  height:20px;
  filter:brightness(0) invert(1);
  width:20px;
}

#specContr {
  background: linear-gradient(-90deg, var(--background) 0%, transparent 100%);
  border: unset;
  padding-right: 20px;
}

#specContr:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#specContr > div {
  color: var(--accent2);
}

#specContr > div > span {
  color: var(--accent) !important;
}

#specStats {
  background: linear-gradient(90deg, var(--background) 0%, transparent 100%);
  padding-right: 80px;
  border-radius: 0px;
  padding-left: 20px;  
}

#specStats:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--accent2);
  width: 5px;
}

#specContr {
  padding-left: 80px;
}

.specPHead {
  color: var(--accent2) !important;
}

#spectHPV {
  text-shadow: unset;
  color: var(--accent2);
  left: 270px;
  top: 47px;
  background-color: var(--background);
  padding-left: 10px;
  padding-right: 10px;
}

#spectHPBI {
  background-color :var(--accent) !important;
}

.specLevelBox {
  background-color: var(--background) !important;
}

#roundsDisplay > div:nth-child(2) {
    visibility: hidden;
    width: 240px;
}

#roundsDisplay {
    height: 70px;
    background-color: transparent;
}

.roundScrV {
    height: 70px;
    background-color: var(--background);
    line-height: 70px;
}

#killCard {
    position: fixed;
    display: flex !important;
    background-color: var(--background) !important;
    width: 1340px;
    left: calc(50%);
    transform: translateX(-50%);
    height: 220px;
    flex-direction: row;
    flex-grow: 1;
    bottom: 20px;
    justify-content: space-around;
    background:
    linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 1 !important;
    border-radius: unset;
    border: unset !important;
    box-shadow: unset;
}

#kCProfile {
  display: flex !important;
  order: 0;
  height: 60%;
  width: auto !important;
  border-right: 5px solid var(--accent2);
  background-color: var(--background);
  margin-right: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#killCard > div.kClvl {
  order: 2;
  background-color: var(--background);
  width: calc(100% - 40px);
  height: 40px;
  justify-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  bottom: 10px;
  left: 10px;
  text-shadow: unset !important;
  color: var(--accent);
  line-height: 40px;
  text-align: right;
  padding-right: 20px;
}

#killCard > div.kClvl:before {
    content: "National Aeronautics and Space Administration";
    position: absolute;
    left: 50%;
    padding-left: 20px;
    line-height: 40px;
    transform: translateX(-50%)
}

#kCInfoS {
  display: flex;
  position: unset;
  font-size: 70px;
  width: 300px;
  height: 78%;
  color: var(--accent) !important;
  bottom: unset;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  order: 5;
  border-left: 5px solid var(--accent2);
  box-sizing: border-box;
  background-color: var(--background);
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 20px;
}

#kCInfo {
  position: unset !important;
  display: flex !important;
  font-size: 0px;
  height: 78%;
  background-color: var(--background);
  width: 100%;
  order: 4;
  align-self: flex-start;
  margin: unset;
  z-index: 2 !important;
  border-right: 5px solid var(--accent2);
  border-left: 5px solid var(--accent2);
  background-image: url(../img/custom/kill.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
}


#killCardMsg {
  position: fixed;
  bottom: 300px;
  width: 1340px;
  background-color: var(--background) !important;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background:
    linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#kCStat {   
  bottom: 5px;
  left: 20px;
  color: var(--accent) !important;
}

#kCStat > span {
  color: var(--accent2) !important
}

#killCard > div:nth-child(3) {
  display: none
}

#kCName {
  position: absolute;
  left: 110px;
  bottom: 295px;
  color: var(--accent2)
}

#killCardBy {
  color: var(--accent);
  margin-left: 10px;
}

#killCardKick {
  color: var(--accent);
}

#killCardKick > span{
  color: var(--accent2) !important;
}

#leaderContainer > div > i {
  margin-top: 0px !important; 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_0.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_2.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_1.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_1.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_2.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_4.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_3.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_7.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_4.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_6.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_5.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_5.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_6.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_8.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_7.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_9.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_8.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_10.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_9.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_0.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_10.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_11.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_11.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_14.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_12.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_15.png) 
}

#kCProfile[src*="https://assets.krunker.io/textures/classes/icon_13.png"] {
  content: url(https://assets.krunker.io/textures/weapons/icon_19.png) 
}

#killCard > br {
  display: none;
}

#uiBase.onDeathScrn #chatHolder {
  display: none !important;
}

#endTabbedView {
  min-width: 1000px;
  display: inline-block;
  vertical-align: top
}

#endMidHolder {
  top: 320px !important; 
}

.endCard {
  border-radius: 0px;
  display: flex;
  background-color: var(--background) !important;
  background:
    linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  box-shadow: unset !important;
}

#tabHolder {
  display: flex;
  background-color: rgba(0,0,0,.3);
  width: 220px;
  height: auto;
  background-color: var(--background);
  margin-right: 10px;
  flex-direction: column;
  margin-bottom: unset;
}

.tabHeader {
  border-left: 5px solid var(--accent);
  margin: 5px;
  color: var(--accent) !important;
  border-bottom: unset !important;
  background-color: var(--background);
  height: 40px;
  line-height: 40px;
}

.tabHeader.selected {
  color: var(--accent2);
  border-color: var(--accent2);
}

#endTable > tbody > tr > th {
  border: unset !important;
  color: var(--accent)
}

#endTable {
  background-color: var(--background) !important;
  border-radius: 0px;
}

.tabBody {
  width: 100%;
}

#endTable > tbody > tr > td {
  color: var(--accent) !important;
}

.endTableN {   
  color: var(--accent2) !important;
}

#endTimer {
  visibility: hidden !important;
}

#endInfo[style*="display: block;"] #endTimer {
  background-color: var(--background) !important;
  width: 1000px;
  height: 80px;
  margin-top: 130px;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  line-height: 80px;
  font-size: 40px;
  font-style: unset;
  color: var(--accent2);
  text-shadow: unset !important;
  visibility: visible !important;
}

.tabHeader.selected {
  border-bottom: unset;
  border-color: var(--accent2);
  color: var(--accent2) !important;
}

#endTable > tbody > tr > td > span {
  color: var(--accent2) !important;
}

#matchVoteHolder[style*="display: inline-block"] {
  width: 1000px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  left: 50%;
  background-color: var(--background) !important;
  background:
  linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
  linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
  linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
  linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
  linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  align-items: center;
  padding-top: 5px;
  border-radius: 0px;
  padding-bottom: 5px;
}

.matchVote {
  margin: unset;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: unset;
  border: unset !important;
  border-radius: unset;
  transition: .15s ease-in-out;
  transform: scale(.9) !important;
}

.matchVote:hover {
  transform: scale(1.2) !important;
}

.matchVote:before {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background:
    linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  pointer-events: none;
  z-index: 10;
  background-color: var(--background);
}

.matchVote > div {
  display: flex;
  position: unset;
  text-shadow: unset !important;
  text-align: center;
  color: var(--accent2) !important;
  z-index: 11;
}

#tabHolder:after {
  content: "NASA LTD ⓒ";
  color: var(--accent2);
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-size: 15px;
}

#victorySub {
  display: none;
}

#uiBase.onMenu #aMerger {
  position: fixed;
  left: calc(50%);
  top: 120px;
  transform: translateX(-50%);
}

#uiBase.onEndScrn #endAHolderR {
  position: fixed !important;
  right: calc(50% - 1000px);
}

#uiBase.onEndScrn #endAHolderL {
  position: fixed !important;
  left: calc(50% - 1000px);
}

.kfItem {
  border: unset !important;
  border-right: 5px solid var(--accent2) !important;
  padding-right: 10px;
  padding-left: 80px;
  border-radius: 0px !important;
  background: linear-gradient(90deg, transparent 0%, transparent 10%, var(--background) 100%);
}

#teamTotal0 {
  position: fixed;
  left: calc(50% - 470px);
  top: 145px;
  background-color: var(--background);
}

#teamTotal1 {
  position: fixed;
  right: calc(50% - 470px);
  top: 145px;
  background-color: var(--background);
}

.teamTotalScore {
    color: var(--accent2);
}

#specKPDContr {
  background-color: var(--background) !important;
  border-radius: 0px;
  background:
    linear-gradient(to right, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 0 100%,
    linear-gradient(to top, var(--accent2)  3px, transparent 4px) 100% 100%,
    linear-gradient(to right, var(--accent2) 3px, transparent 4px) 0 0,
    linear-gradient(to left, var(--accent2)  3px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 0 0,
    linear-gradient(to bottom, var(--accent2)  3px, transparent 4px) 100% 0;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#specKPDContr > div {
  color: var(--accent2) !important;
}

#specKPDContr > div > span {
  color: var(--accent2) !important;
}

#specKPDContr > div > div > span {
  color: var(--accent2) !important;
}

.gfSection, .endSection, .crStat, #kdLayout {
  background-color: var(--background);
  border-radius: 0px;
  border-color: transparent
}

#fundsLayout > div > span {
  color: var(--accent2) !important;
}

.crLabel {
  color: var(--accent)
}

.crVal {
  color: var(--accent2)
}

.endTitle {
  color: var(--accent2);
}

.xpLvl {
  color: var(--accent)
}

#menuClassContainer:hover #menuClassNameTag {
  visibility: visible;
  transform: translateX(-50%) scale(1);
}

#menuClassNameTag {
  visibility: visible;
  margin-top: unset;
  position: fixed;
  left: 50%;
  transform: translateX(-50%) scale(0);
  background-color: var(--background);
  padding: 10px;
  border-left: 5px solid var(--accent2);
  border-right: 5px solid var(--accent2);
  padding-left: 20px;
  padding-right: 20px;
  bottom: 320px;
  overflow: hidden;
  height: 30px;
  transition: all .2s ease-in-out;
}

.menuClassLevelBox {
  background-color: transparent;
}

#uiBase.onMenu #termsInfo {
    background-image: linear-gradient(90deg, var(--background) 0%, transparent 100%) !important; 
    position: fixed;
    right: unset;
    left: calc(50% - 500px);
    bottom: 120px;
    background-color: transparent !important;
    border-radius: 0px;
    border-left: 5px solid var(--accent2);
    width: 380px;
    box-shadow: unset !important;
}

#uiBase.onMenu .verticalSeparatorInline {
    display: none;
}

#uiBase.onMenu .terms {
    font-size: 20px !important;
    padding: unset !important;
    color: var(--accent);
}

#uiBase.onMenu .terms.standout {
  color: var(--accent2) !important;
}

#tlInfHold {
    position: fixed;
    left: calc(50% - 600px);
    top: 120px;
}

.freeKRIcon {
    height: 47px;
}

#rankedSoonTm {
    display: none;
}

.youNewDiv {
    background-color: var(--background);
    margin-top: unset;
    margin-bottom: 10px;
}

#streamContainer {
    position: fixed;
    left: 30px;
    top: 30px;
    background-color: var(--background) !important;
    box-shadow: unset !important;
}

#aContainer {
    background-color: var(--background) !important;
}

#tlInfHold {
    left: unset;
    right: 30px;
    top: 30px;
}

#menuServerInfoContainer {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(-90deg, var(--background) 0%, transparent 100%) !important; 
    padding: 10px;
    padding-left: 40px;
    border-right: 5px solid var(--accent2);
}

#menuServerInfoContainer > div {
    font-size: 19px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: var(--accent2);
    margin-top: 5px;
}

#menuFPS, #menuPingText {
    font-size: 19px;
    color: var(--accent2) !important;
}

#menuFPSDisplay {
    font-size: 19px;
}

#menuPingDisplay:after {
    content: " PING";
    font-size: 19px;
}

.krSaleIcon {
    margin-bottom: -8px;
}

#menuWindow {
    top: 50%;
    max-height: calc(100% - 250px) !important;
}

.leftUIB {
    border: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
}

#modList > div > div.mapListItem > div {
    font-size: 20px !important;
}

#modList > div > div.mapListItem > div > span {
    font-size: 20px !important;
}