div#container
{
    width:1150px;
    height:900px;
    overflow:hidden;     /* if you don't want a scrollbar, set to hidden */
    overflow-x:hidden;   /* hides horizontal scrollbar on newer browsers */

    /* resize and min-height are optional, allows user to resize viewable area */
    -webkit-resize:vertical; 
    -moz-resize:vertical;
    resize:vertical;
    min-height:317px;
}

iframe#embed
{
    width:1920px;       /* set this to approximate width of entire page you're embedding */
    height:1080px;      /* determines where the bottom of the page cuts off */
    margin-left:-400px; /* clipping left side of page */
    margin-top:-100px;  /* clipping top of page */
    overflow:hidden;

    /* resize seems to inherit in at least Firefox */
    -webkit-resize:none;
    -moz-resize:none;
    resize:none;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

button {
    height: 100%;
    width: 100%;
    font-size: 16vh;
    color: #4a0eae;
    background-color: black;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

    button:hover {
        color: #863dff;
    }

    button:focus {
        color: #be97ff;
    }

div {
    opacity: 0;
}

#popup {
    width: 80vw;
    position: absolute;
    top: 5vh;
    left: 10vw;
    height: 6vh;
    pointer-events: none !important;
    transition-duration: 1s;
}

p {
    background-color: #be97ff;
    color: black;
    width: inherit;
    height: inherit;
    border: 1vh solid #be97ff;
    border-radius: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    pointer-events: none !important;
    opacity: inherit;
}

.fade1 {
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

.fade2 {
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% {
        opacity: 0;
    }

    10% {
        opacity: 100;
    }

    80% {
        opacity: 100;
    }
}

@-webkit-keyframes fadeinout {
    0%,100% {
        opacity: 0;
    }

    10% {
        opacity: 100;
    }

    80% {
        opacity: 100;
    }
}