html, body {
    overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

sub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

button {
  background-color: #491363;
  border: 3px solid #491363 !important; 
  color: white;
  width: 100px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 40px;
  font-family: inherit;
  font-size: 30px;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#D {
  height: 30px;
  width: 30px;
}



/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }