html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: open sans;
}

button {
  position: fixed;
  top: 15px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  text-decoration: white underline;
  font-size: 1.5em;
  -webkit-tap-highlight-color: transparent;
}

#next {
  right: 15px;
}

#last {
  left: 15px;
}
